<nav class="navbar">
  <span class="navbar__brand">Mundial 2026 Hub</span>
  <div class="navbar__links">
    <a class="navbar__link" routerLink="/agenda" routerLinkActive="navbar__link--active">Agenda</a>
    <a class="navbar__link" routerLink="/partidos" routerLinkActive="navbar__link--active">Partidos</a>
    <a class="navbar__link" routerLink="/pollas" routerLinkActive="navbar__link--active">Pollas</a>
    <a class="navbar__link" routerLink="/notificaciones" routerLinkActive="navbar__link--active">Notificaciones</a>
    <a class="navbar__link" routerLink="/reportes" routerLinkActive="navbar__link--active">Reportes</a>
  </div>
  <div class="navbar__user">
    <span class="navbar__username">{{ auth.currentUser()?.nombre }}</span>
    <button class="navbar__logout" (click)="logout()">Cerrar sesión</button>
  </div>
</nav>
